body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-section {
    margin-bottom: 60px; /* Augmenter l'espace en bas pour plus de place */
}

.players-section {
    margin-top: 60px; /* Augmenter l'espace en haut pour plus de place */
}

.players {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.player {
    margin-bottom: 20px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#searchResults {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Permettre aux résultats de s'enrouler */
}

.result {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px; /* Augmenter la hauteur pour plus de place pour le titre */
}

.result img {
    width: 100%;
    height: 100px; /* Ajuster la hauteur de l'image */
    object-fit: cover;
}

.result button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1;
}

.result button:nth-child(2) {
    left: 10%;
}

.result button:nth-child(3) {
    right: 10%;
}

.result p {
    position: relative;
    z-index: 0;
    margin-top: 10px;
    white-space: normal; /* Permettre au texte de s'étendre sur plusieurs lignes */
    overflow: visible;
    text-overflow: clip;
    width: 150px;
}

